.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.home .model {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 42%;
}
.home .model h2 {
  font-size: 2rem;
  margin-bottom: 0.7rem;
}

.home .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10%;
  left: 42%;
}
.home .btn button {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 0.7rem 1.5rem;
  margin: 0 2rem 0 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: all 1s ease;
}
.home .btn button:nth-child(1):hover {
  background: #393c41;
  color: #fff;
}
.home .btn button:nth-child(2) {
  background: #393c41;
  color: #fff;
}
.home .btn button:nth-child(2):hover {
  background: #fff;
  color: black;
}

@media (max-width: 768px) {
  .home .model {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 33%;
  }
  .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
  }
}
@media (max-width: 480px) {
  .home .model {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 28%;
  }
  .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
  }
}